.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EDEADE;
    border-radius: 15px;
    padding-bottom: 20px;
    transition: all 0.3s;
    width: 400px;
}

.game:hover {
    transform: scale(1.03);
}

.game img {
    width: 80%;
    border-radius: 5px;
}

.game h1 {
    margin-top: 5%;
    font-size: 22px;
}

p {
    margin-top: 7px;
    margin-bottom: 5px;
}

progress {
    margin-bottom: 10px;
    height: 11px;
    appearance: none;
    border-radius: 5px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background-color: #F9F6EE;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: #6495ED;
    border-radius: 5px;
}

progress::-moz-progress-bar {
    background-color: #F9F6EE;
    border-radius: 5px;
}

#stars {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 15px;
}

.star {
    color: darkgoldenrod;
    font-size: 20px;
}